.hero__bottom-btn {
    display: block;
    position: absolute;
    top: 90%;
    left: 50%;
}
.scroll-down-btn {
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    color: rgb(255, 255, 255);
    vertical-align: middle;
}
.scroll-down-icon {
    display: inline-block;
}
.scroll__img {
    width: 22px;
    height: 30px;
    filter: invert(100%);
}